# Procesamiento de datos poblacionales

In [1]:
import pandas as pd

## Cargar datos crudos

In [2]:
# Path al archivo
file_path ='Datos_poblacion.parquet'
# Cargar archivo CSV como DataFrame
df = pd.read_parquet(file_path)
# Inspeccionar primeros elementos del DataFrame
df.head()

,ï»¿ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,0,Total nacional,0,Total nacional,0,Total nacional,None,None,NaN,126014024,...,30775898,18307193,15211306,6616141,4047100,1788552,3170894,15108204,852871,*
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,None,None,NaN,250354,...,47005,8385,18981,1732,1113,12775,14143,51293,7154,*
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,None,None,NaN,147125,...,25581,5027,11306,971,708,8247,10065,29741,5283,*
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,None,None,NaN,1425607,...,359895,236003,174089,98724,70126,6021,15323,128996,1711,*
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,None,None,NaN,3697,...,732,205,212,48,41,39,62,530,20,*

#### Nos quedamos solo con las columnas de interés

In [3]:
# Analizamos el nombre de las columnas
df.columns

Index(['ï»¿ENTIDAD', 'NOM_ENT', 'MUN', 'NOM_MUN', 'LOC', 'NOM_LOC', 'LONGITUD',
       'LATITUD', 'ALTITUD', 'POBTOT',
       ...
       'VPH_CEL', 'VPH_INTER', 'VPH_STVP', 'VPH_SPMVPI', 'VPH_CVJ',
       'VPH_SINRTV', 'VPH_SINLTC', 'VPH_SINCINT', 'VPH_SINTIC', 'TAMLOC'],
      dtype='object', length=286)

In [10]:
# Crear nuevo Dataframe vacío
df_filtered = pd.DataFrame()

# Extraer columnas de interés del Dataframe original
df_filtered[['CLAVE_ENTIDAD', 'ENTIDAD', 'CLAVE_MUNICIPIO', 'MUNICIPIO', 'LOC', 'NOM_LOC', 'POBLACION']] = df[['ï»¿ENTIDAD', 'NOM_ENT', 'MUN', 'NOM_MUN', 'LOC', 'NOM_LOC', 'POBTOT']]

# Inspeccionamos los datos
df_filtered.head()

,CLAVE_ENTIDAD,ENTIDAD,CLAVE_MUNICIPIO,MUNICIPIO,LOC,NOM_LOC,POBLACION
0,0,Total nacional,0,Total nacional,0,Total nacional,126014024
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,250354
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,147125
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,1425607
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,3697

#### Filtramos para obtener población total por municipio

In [11]:
# Filtrar las filas donde LOC es 0 y NOM_LOC es "Total del Municipio"
df_filtered = df_filtered[(df_filtered['LOC'] == 0) & (df_filtered['NOM_LOC'] == 'Total del Municipio')]

# Seleccionar las columnas de interés
df_filtered = df_filtered[['CLAVE_ENTIDAD', 'ENTIDAD', 'CLAVE_MUNICIPIO', 'MUNICIPIO', 'POBLACION']]

# Inspeccionamos el nuevo Datraframe
df_filtered.head()

     CLAVE_ENTIDAD         ENTIDAD  CLAVE_MUNICIPIO       MUNICIPIO  POBLACION
6                1  Aguascalientes                1  Aguascalientes     948990
574              1  Aguascalientes                2        Asientos      51536
749              1  Aguascalientes                3        Calvillo      58250
918              1  Aguascalientes                4          CosÃ­o      17000
985              1  Aguascalientes                5   JesÃºs MarÃ­a     129929

## Almacenar datos procesados

In [13]:
# Guardar el DataFrame en formato Parquet
df_filtered.to_parquet('Datos_poblacion_processed.parquet', index=False)

print("Archivo guardado como 'Datos_poblacion_processed.parquet'")

Archivo guardado como 'Datos_poblacion_processed.parquet'